{% extends 'ReservationsFrontendBundle::layout.html.twig' %}

{% block title %}{{ "reservations.frontend.for_bussines"|trans }}{% endblock %}

{% block body %}

    {% include 'ReservationsFrontendBundle:Reservations:header.html.twig' %}

    <div class="dialog">
        <div class="panel panel-default">
            <p class="panel-heading no-collapse">{{ "reservations.frontend.login_page"|trans }}</p>
            <div class="panel-body">
                {% if error %}
                    <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <form action="{{ path("fos_user_security_check") }}" method="post" role="form">
                    <div class="form-group">
                        <label>{{ "reservations.frontend.email"|trans }}</label>
                        <input type="text" id="username" name="_username" required="required" class="form-control span12" />
                    </div>
                    <div class="form-group">
                        <label>{{ "reservations.frontend.password"|trans }}</label>
                        <input type="password" id="password" name="_password" required="required" class="form-controlspan1 form-control" />
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    <button type="submit" id="_submit" name="_submit" class="btn btn-primary pull-right">
                        {{ "reservations.frontend.login"|trans }}
                    </button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
        <a href="{{ path('fos_user_resetting_request') }}" class="btn btn-default btn-lg btn-block">{{ "reservations.frontend.reset.password_reset"|trans }}</a>
        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary btn-lg btn-block">{{ "reservations.frontend.register"|trans }}</a>
    </div>


{% endblock %}
