<div id="header">
    <div id="icon">
        <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>
    </div>
    <h1>Rezervacijos</h1>
    <h6><em>Jei nenori kovoti dėl laisvo staliuko, rezervuok vietą iš anksto viename iš barų apačioje !</em></h6>

    <div id="info">
        <button type="button" class="btn btn-primary text-center" data-toggle="modal" data-target="#about-modal">
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Kaip tai veikia?
        </button>
        {% if is_granted("ROLE_USER") %}
            <a href="{{ path('reservations_core_dashboard') }}" class="btn btn-primary text-center">
        {% else %}
            <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary text-center">
        {% endif %}
                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Partneriams
            </a>
    </div>
</div>


{# about info modal #}
<div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ "reservations.frontend.reservation.are_we"|trans }}</h4>
            </div>
            <div class="modal-body">
                <h3><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{ "reservations.frontend.reservation.reservation"|trans }}</h3>
                Mūsų projektas siūlo greitą ir patogia barų ar restoranų rezervaciją. Jums tereikia paspausti ant
                žymeklio žemėlapyje ir pasirinkti "rezervacija" ir suvesti duomenis. Specialus kodas
                bus atsiųstas el. paštu.

                <h3><span class="glyphicon glyphicon-search" aria-hidden="true"></span> {{ "reservations.frontend.reservation.search"|trans }}</h3>
                Ieškodami norimo baro ar restorano užtenka suvesti raktinius žodžius, pagal kuriuos bus atrinkti
                jums tinkami barai ar restoranai. Taip pat galite suvesti adresą ir rasti jums tinkančias vietas
                jūsų norimoje gatvėje.

                <h3><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> {{ "reservations.frontend.for_bussines"|trans }}</h3>
                Verslininkams siūlom galimybę lengvai ir paprastai administruoti rezervacijas, jas patvirtinti ar
                atšauktti.
            </div>
        </div>
    </div>
</div>
