{% extends '::base.html.twig' %}

{% block title %}
    {{ "reservations.frontend.reservation.map"|trans }}
{% endblock %}

{% block body %}
    <div id="container">
        <div id="about">
            <button type="button" class="btn btn-default btn-lg font-size text-center" data-toggle="modal" data-target="#about-modal">
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
            </button>
            <br />
            <br />
            {% if is_granted("ROLE_USER") %}
            <a href="{{ path('reservations_core_dashboard') }}" class="btn btn-primary btn-lg font-size text-center">
            {% else %}
            <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary btn-lg font-size text-center">
            {% endif %}
                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
            </a>
        </div>
        <div id="search">
            {% if bars is empty %}
                <div class="alert alert-danger" role="alert" data-dismiss="alert">
                    {{ "reservations.frontend.reservation.not_found"|trans }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            <form class="form-horizontal" action="{{ path('reservations_core_homepage') }}" method="post">
                <div class="input-group">
                    <input type="text" name="name" class="form-control input-lg" placeholder="{{ "reservations.frontend.reservation.enter_name_or_address"|trans }}" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-search"></span>
                            {{ "reservations.frontend.search"|trans }}
                        </button>
                    </span>
                </div>
            </form>
        </div>
        <div id="map"></div>
    </div>

    {# about info modal #}
    <div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ "reservations.frontend.reservation.are_we"|trans }}</h4>
                </div>
                <div class="modal-body">
                    <h3><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{ "reservations.frontend.reservation.reservation"|trans }}</h3>
                    Mūsų projektas siūlo greitą ir patogia barų ar restoranų rezervaciją. Jums tereikia paspausti ant
                    žymeklio žemėlapyje ir pasirinkti "rezervacija" ir suvesti duomenis. Specialus kodas
                    bus atsiųstas el. paštu.

                    <h3><span class="glyphicon glyphicon-search" aria-hidden="true"></span> {{ "reservations.frontend.reservation.search"|trans }}</h3>
                    Ieškodami norimo baro ar restorano užtenka suvesti raktinius žodžius, pagal kuriuos bus atrinkti
                    jums tinkami barai ar restoranai. Taip pat galite suvesti adresą ir rasti jums tinkančias vietas
                    jūsų norimoje gatvėje.

                    <h3><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> {{ "reservations.frontend.for_bussines"|trans }}</h3>
                    Verslininkams siūlom galimybę lengvai ir paprastai administruoti rezervacijas, jas patvirtinti ar
                    atšauktti.
                </div>
            </div>
        </div>
    </div>

    {# reservation window modal #}
    <div id="reservation-modals">
        <div class="modal fade" id="reservation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="text-center">
                        <img id="loader" src="{{ asset('bundles/reservationsfrontend/images/loader.gif') }}" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var map;
        $(document).ready(function(){
            $('#reservation-modals').on('hidden.bs.modal', '.modal', function () {
                $(this).removeData('bs.modal')
                        .find(".modal-content").empty()
                        .html('<div class="text-center"><img id="loader" src="{{ asset('bundles/reservationsfrontend/images/loader.gif') }}" alt="" /></div>');
            });
            map = new GMaps({
                div: '#map',
                lat: 54.9010623,
                lng: 23.9249206,
                zoom: 15
            });
            {% for bar in bars %}
            map.addMarker({ lat: {{ bar.lat }}, lng: {{ bar.lng }}, title: '{{ bar.name }}',
                infoWindow: {
					content: '<div style="width: 204px;" jstcache="0" class="gm-iw gm-sm">' +
                             '<div jstcache="1" class="gm-title" jscontent="i.result.name"><a href="{{ path('reservations_core_showpage', { 'id' : bar.id }) }}">{{ bar.name }}</a></div>' +
                             '<div jstcache="0" class="gm-basicinfo">' +
                             '<div jstcache="3" class="gm-photos" jsdisplay="i.result.formatted_address" jscontent="i.result.formatted_address">{{ bar.address|length > 18 ? bar.address|slice(0, 18) ~ '...' : bar.address }} ({{ bar.phone }})</div>' +
                             '<div jstcache="5" class="gm-phone" >' +
                             '<button href="{{ path('reservations_core_ajax_reservation', {'id': bar.id}) }}" class="btn btn-primary btn-xs btn-block" data-toggle="modal" data-target="#reservation" data-backdrop="static"><i class="fa fa-check-square-o"></i> Rezervuoti</button>' +
                             '</div>' +
                             '</div>' +
                             '<div jstcache="2" class="gm-photos" jsdisplay="svImg">' +
                             '<a href="{{ path('reservations_core_showpage', { 'id' : bar.id }) }}"><img src="http://maps.googleapis.com/maps/api/streetview?size=204x50&location={{ bar.lat }},{{ bar.lng }}&fov=100&heading=360&pitch=5&sensor=false" jstcache="11" jsvalues=".src:svImg" height="50" width="204" /></a>' +
                             '<span style="display: none;" jstcache="7" class="gm-sv" jsdisplay="photoImg" jsvalues=".onclick:svClickFn">' +
                             '<img jstcache="11" jsvalues=".src:svImg" height="50" width="100">' +
                             '</span>' +
                             '</div>' +
                             '</div>'
                }
            });
            {# google.maps.event.trigger(map.markers[{{ bar.id }}-1], 'click');#}
            {% endfor %}

        });
    </script>
{% endblock %}
