{% extends '::base.html.twig' %}

{% block title %}
    {{ "reservations.frontend.reservation.map"|trans }}
{% endblock %}

{% block body %}
    <div id="container">
        <div id="about">
            <button type="button" class="btn btn-warning btn-lg font-size" data-toggle="modal" data-target="#about-modal">
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
            </button>
            <br />
            <br />
            {% if is_granted("ROLE_USER") %}
            <a href="{{ path('reservations_core_dashboard') }}" class="btn btn-primary btn-lg font-size">
            {% else %}
            <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary btn-lg font-size">
            {% endif %}
                <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
            </a>
        </div>
        <div id="search">
            <form class="form-horizontal" action="{{ path('reservations_core_homepage') }}" method="post">
                <div class="input-group">
                    <input type="text" name="name" class="form-control input-lg" placeholder="{{ "reservations.frontend.reservation.enter_name_or_address"|trans }}" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-search"></span>
                            {{ "reservations.frontend.search"|trans }}
                        </button>
                    </span>
                </div>
            </form>
            {% if bars is empty %}
                <div class="alert alert-danger" role="alert" data-dismiss="alert">
                    {{ "reservations.frontend.reservation.not_found"|trans }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        </div>
        <div id="map"></div>
    </div>

    {# about info modal #}
    <div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
            </div>
        </div>
    </div>

    {# reservation window modal #}
    <div id="reservation-modals">
        <div class="modal fade" id="reservation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="text-center">
                        <img id="loader" src="{{ asset('bundles/reservationsfrontend/images/loader.gif') }}" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var map;
        $(document).ready(function(){
            $('#reservation-modals').on('hidden.bs.modal', '.modal', function () {
                $(this).removeData('bs.modal')
                        .find(".modal-content").empty()
                        .html('<div class="text-center"><img id="loader" src="{{ asset('bundles/reservationsfrontend/images/loader.gif') }}" alt="" /></div>');
            });
            map = new GMaps({
                div: '#map',
                lat: 54.9010005,
                lng: 23.8988132
            });
            {% for bar in bars %}
            map.addMarker({ lat: {{ bar.lat }}, lng: {{ bar.lng }}, title: '{{ bar.name }}',
                infoWindow: {
                    content: '<div class="text-center"><h2><a href="{{ path('reservations_core_showpage', { 'id' : bar.id }) }}">{{ bar.name }}</a></h2>' +
                             '<div>{{ bar.address }}</div>' +
                             '<button href="{{ path('reservations_core_ajax_reservation', {'id': bar.id}) }}" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#reservation"><i class="fa fa-check-square-o"></i> Rezervuoti</button></div>'
                }
            });
            {# google.maps.event.trigger(map.markers[{{ bar.id }}-1], 'click');#}
            {% endfor %}

        });
    </script>
{% endblock %}
