{% extends '::base.html.twig' %}

{% block title %}
    {{ "reservations.frontend.reservation.map"|trans }}
{% endblock %}

{% block body %}

    {% include 'ReservationsFrontendBundle:Search:header.html.twig' %}

    <div id="container">

        <div id="search">
            {% if bars is empty %}
                <div class="alert alert-danger" role="alert" data-dismiss="alert">
                    {{ "reservations.frontend.reservation.not_found"|trans }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            <form class="form-horizontal" action="{{ path('reservations_core_homepage') }}" method="get">
                <div class="input-group">
                    <input type="text" name="search" id="search-input" class="form-control input-lg" value="{{ value }}" placeholder="{{ "reservations.frontend.reservation.enter_name_or_address"|trans }}" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-search"></span>
                            {{ "reservations.frontend.search"|trans }}
                        </button>
                    </span>
                </div>
                <div class="input-group">
                    <h5>
                        Populiariausios paieškos:
                        <small>
                            <a href="?search=krepsinis">#krepšinis</a>
                            <a href="?search=restoranas">#restoranas</a>
                            <a href="?search=pietus">#pietūs</a>
                            <a href="?search=laisves+aleja">#laisvės alėja</a>
                        </small>
                    </h5>
                </div>
            </form>
        </div>
        <div id="map"></div>
    </div>


    {# reservation window modal #}
    <div id="reservation-modals">
        <div class="modal fade" id="reservation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="text-center">
                        <img id="loader" src="{{ asset('bundles/reservationsfrontend/images/loader.gif') }}" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var map;
        $(document).ready(function(){
            $('.pointer').click(function () {
                var value = $('#search-input').val();
                var tag = $(this).text();
                tag = tag.split('#')[1];
                $('#search-input').val(value + tag + ' ');
                $('.form-horizontal').submit();
            });
            $('[data-toggle="popover"]').popover({'placement': 'left'});
            $('#reservation-modals').on('hidden.bs.modal', '.modal', function () {
                $(this).removeData('bs.modal')
                        .find(".modal-content").empty()
                        .html('<div class="text-center"><img id="loader" src="{{ asset('bundles/reservationsfrontend/images/loader.gif') }}" alt="" /></div>');
            });
            map = new GMaps({
                div: '#map',
                lat: 54.9088344,
                lng: 23.922517,
                zoom: 13
            });
            {% for bar in bars %}
            map.addMarker({ lat: {{ bar.lat }}, lng: {{ bar.lng }}, title: '{{ bar.name }}',
                infoWindow: {
					content: '<div style="width: 204px;" jstcache="0" class="gm-iw gm-sm">' +
                             '<div jstcache="1" class="gm-title" jscontent="i.result.name"><a href="{{ path('reservations_core_showpage', { 'id' : bar.id }) }}">{{ bar.name }}</a></div>' +
                             '<div jstcache="0" class="gm-basicinfo">' +
                             '<div jstcache="3" class="gm-photos" jsdisplay="i.result.formatted_address" jscontent="i.result.formatted_address">{{ bar.address|length > 18 ? bar.address|slice(0, 18) ~ '...' : bar.address }} ({{ bar.phone }})</div>' +
                                {#'<div jstcache="5" class="gm-phone" >' +#}
                                {#'<a href="{{ path('reservations_core_showpage', {'id': bar.id}) }}" class="btn btn-primary btn-xs btn-block" style="color:white">Plačiau apie barą</a>' +#}
                                {#'</div>' +#}
                                    '<div jstcache="5" class="gm-phone" >' +
                                        //'<div class="btn-group" role="group" aria-label="...">' +
                                            '<a href="{{ path('reservations_core_showpage', {'id': bar.id}) }}" class="btn btn-primary btn-xs" style="background:#0A5A36;color:white;padding:1px 8px;"> Plačiau apie barą</a>' +
                                            '<button href="{{ path('reservations_core_ajax_reservation', {'id': bar.id}) }}" class="btn btn-primary btn-xs pull-right" style="padding:1px 8px;" data-toggle="modal" data-target="#reservation" data-backdrop="static"><i class="fa fa-check-square-o"></i> Rezervuoti</button>' +
                                        //'</div>' +
                                    '</div>' +
                             '</div>' +
                             '<div jstcache="2" class="gm-photos" jsdisplay="svImg">' +
                             '<a href="{{ path('reservations_core_showpage', { 'id' : bar.id }) }}"><img src="http://maps.googleapis.com/maps/api/streetview?size=204x50&location={{ bar.lat }},{{ bar.lng }}&fov=100&heading=360&pitch=5&sensor=false" jstcache="11" jsvalues=".src:svImg" height="50" width="204" /></a>' +
                             '</div>' +
                                {#'<div jstcache="5" class="gm-phone" >' +#}
                                {#'<button href="{{ path('reservations_core_ajax_reservation', {'id': bar.id}) }}" class="btn btn-primary btn-xs btn-block" data-toggle="modal" data-target="#reservation" data-backdrop="static"><i class="fa fa-check-square-o"></i> Rezervuoti</button>' +#}
                                {#'</div>' +#}
                             '</div>'
                }
            });
            {# google.maps.event.trigger(map.markers[{{ bar.id }}-1], 'click');#}
            {% endfor %}

        });
    </script>
{% endblock %}
