{% extends '::base.html.twig' %}

{% block title %}{{ "reservations.frontend.for_bussines"|trans }}{% endblock %}

{% block body -%}

    {% include 'ReservationsFrontendBundle:Reservations:header.html.twig' %}
    {% include 'ReservationsFrontendBundle:Reservations:navigation.html.twig' %}

    <div class="content">
        <div class="header">
            <h1 class="page-title">{{ "reservations.frontend.dashboard.dashboard"|trans }}</h1>
        </div>
        <div class="main-content">

            <div class="row">
                <div class="col-md-4">
                    {{ form_start(edit_form) }}
                    <div class="form-group">
                        <label>{{ "reservations.frontend.dashboard.name"|trans }}</label>
                        {{ form_widget(edit_form.name, { 'attr' : { 'class' : 'form-control' }}) }}
                        {{ form_errors(edit_form.name) }}
                    </div>
                    <div class="form-group">
                        <label>{{ "reservations.frontend.dashboard.desc"|trans }}</label>
                        {{ form_widget(edit_form.description, { 'attr' : { 'class' : 'form-control' }}) }}
                        {{ form_errors(edit_form.description) }}
                    </div>
                    <div class="form-group">
                        <label>{{ "reservations.frontend.dashboard.address"|trans }}</label>
                        <div class="row">
                            <div class="col-md-7">{{ form_widget(edit_form.address, { 'attr' : { 'class' : 'form-control' }}) }}</div>
                            <div class="col-md-5">
                                <button id="address" class="btn btn-primary btn-sm">{{ "reservations.frontend.dashboard.get_coordinates"|trans }}</button>
                            </div>
                        </div>
                        {{ form_errors(edit_form.address) }}
                    </div>
                    <div class="form-group">
                        <label>{{ "reservations.frontend.dashboard.city"|trans }}</label>
                        {{ form_widget(edit_form.city, { 'attr' : { 'class' : 'form-control' }}) }}
                        {{ form_errors(edit_form.city) }}
                    </div>
                    <div class="form-group">
                        <label>{{ "reservations.frontend.dashboard.phone"|trans }}</label>
                        {{ form_widget(edit_form.phone, { 'attr' : { 'class' : 'form-control numeric' }}) }}
                        {{ form_errors(edit_form.phone) }}
                    </div>
                    <div class="form-group">
                        <label>{{ "reservations.frontend.dashboard.tags"|trans }}</label>
                        {{ form_widget(edit_form.tags, { 'attr' : { 'class' : 'form-control' }}) }}
                        {{ form_errors(edit_form.tags) }}
                        <span id="helpBlock" class="help-block">{{ "reservations.frontend.dashboard.tags_help"|trans }}</span>
                    </div>
                    <div class="form-group">
                        <label>{{ "reservations.frontend.dashboard.seats"|trans }}</label>
                        {{ form_widget(edit_form.seats, { 'attr' : { 'class' : 'form-control numeric' }}) }}
                        {{ form_errors(edit_form.seats) }}
                    </div>
                    <div class="form-group">
                        <label>{{ "reservations.frontend.dashboard.lat"|trans }}</label>
                        {{ form_widget(edit_form.lat, { 'attr' : { 'class' : 'form-control' }}) }}
                        {{ form_errors(edit_form.lat) }}
                    </div>
                    <div class="form-group">
                        <label>{{ "reservations.frontend.dashboard.lng"|trans }}</label>
                        {{ form_widget(edit_form.lng, { 'attr' : { 'class' : 'form-control' }}) }}
                        {{ form_errors(edit_form.lng) }}
                    </div>
                    <div class="form-group">
                        <label>{{ "reservations.frontend.dashboard.hide_search"|trans }}</label>
                        {{ form_widget(edit_form.status, { 'attr' : { 'class' : 'form-control' }}) }}
                        {{ form_errors(edit_form.status) }}
                        <span id="helpBlock" class="help-block">{{ "reservations.frontend.dashboard.hide_search_help"|trans }}</span>
                    </div>
                    {{ form_widget(edit_form.submit, { 'attr' : { 'class' : 'btn btn-primary' }}) }}
                    {{ form_end(edit_form) }}
                </div>
                <div class="col-md-8">
                    <div class="alert alert-info" role="alert">{{ "reservations.frontend.dashboard.map_help"|trans }}</div>
                    <div id="map" style="height: 700px;"></div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var map;
        $(document).ready(function(){
            $('#address').click(function (e) {
                e.preventDefault();
                var address = $('#reservations_corebundle_bar_address').val();
                $.post('https://maps.googleapis.com/maps/api/geocode/json?address=' + address +' Kaunas&sensor=true', function(data){
                    if (data.status == 'OK') {
                        $('#reservations_corebundle_bar_lat').val(data.results[0].geometry.location.lat);
                        $('#reservations_corebundle_bar_lng').val(data.results[0].geometry.location.lng);
                        map.addMarker({
                            lat: data.results[0].geometry.location.lat,
                            lng: data.results[0].geometry.location.lng,
                            title: ''
                        });
                    } else {
                        alert('{{ "reservations.frontend.dashboard.no_results"|trans }}');
                    }
                });
            });
            map = new GMaps({
                div: '#map',
                lat: 54.9010623,
                lng: 23.9249206,
                zoom: 13,
                click: function(e) {
                    $('#reservations_corebundle_bar_lat').val(e.latLng.lat());
                    $('#reservations_corebundle_bar_lng').val(e.latLng.lng());
                }
            });
            map.setOptions({draggable: false});
            map.addMarker({ lat: {{ entity.lat }}, lng: {{ entity.lng }}, title: '{{ entity.name }}' });
        });
    </script>
{% endblock %}
