{% extends '::base.html.twig' %}

{% block title %}{{ "reservations.frontend.for_bussines"|trans }}{% endblock %}

{% block body -%}

    {% include 'ReservationsFrontendBundle:Reservations:header.html.twig' %}
    {% include 'ReservationsFrontendBundle:Reservations:navigation.html.twig' %}


        <div class="content">
            <div class="header">
                <h1 class="page-title">{{ "reservations.frontend.dashboard.bars"|trans }}</h1>
            </div>
            <div class="main-content">

                {% for entity in entities %}
                <li class="list-group-item">
                    <i class="fa-2x padding-top-small padding-bottom padding-right-small fa fa-leaf pull-left text-info"></i>
                    <h4>{{ entity.name }}</h4>
                    <p class="info small">{{ "reservations.frontend.dashboard.name"|trans }}</p>
                </li>
                <li class="list-group-item clearfix">
                    <i class="fa-2x padding-top-small padding-bottom padding-right-small fa fa-wrench pull-left text-info"></i>
                    <h4><a href="{{ path('bar_edit', { 'id': entity.id }) }}">{{ "reservations.frontend.dashboard.edit"|trans }}</a></h4>
                </li>
                {% endfor %}

            </div>
        </div>



{% endblock %}
