{% extends '::base.html.twig' %}

{% block title %}{{ bar.name }}{% endblock %}

{% block body %}

    {% include 'ReservationsFrontendBundle:Search:header.html.twig' %}

    <h1 style="padding-left: 1%;">{{ bar.name }}</h1>

    <div class="dialog" style="max-width: 98%; margin-top: 10px;">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-5">
                        <button href="{{ path('reservations_core_ajax_reservation', {'id': bar.id}) }}" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#reservation">
                            <i class="fa fa-check-square-o"></i> {{ "reservations.frontend.reservation.reserve"|trans }}
                        </button>
                        <br />
                        <br />
                        {{ bar.description }}<br /><br />
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Adresas</strong></li>
                            <li class="list-group-item">{{ bar.address }}</li>
                            <li class="list-group-item"><strong>Telefonas</strong></li>
                            <li class="list-group-item">{{ bar.phone }}</li>
                        </ul>
                    </div>
                    <div class="col-md-7">
                        <div id="panorama" style="height: 400px;"></div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

    {# reservation window modal #}
    <div id="reservation-modals">
        <div class="modal fade" id="reservation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="text-center">
                        <img id="loader" src="{{ asset('bundles/reservationsfrontend/images/loader.gif') }}" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var panorama;
        $(document).ready(function(){
            $('#reservation-modals').on('hidden.bs.modal', '.modal', function () {
                $(this).removeData('bs.modal')
                        .find(".modal-content").empty()
                        .html('<div class="text-center"><img id="loader" src="{{ asset('bundles/reservationsfrontend/images/loader.gif') }}" alt="" /></div>');
            });
            panorama = GMaps.createPanorama({
                el: '#panorama',
                lat : {{ bar.lat }},
                lng : {{ bar.lng }}
            });
        });
    </script>
{% endblock %}
