{% extends '::base.html.twig' %}

{% block title %}{{ "reservations.frontend.for_bussines"|trans }}{% endblock %}

{% block body %}

    {% include 'ReservationsFrontendBundle:Reservations:header.html.twig' %}
    {% include 'ReservationsFrontendBundle:Reservations:navigation.html.twig' %}

    <div class="content">
        <div class="header">
            <h1 class="page-title">{{ "reservations.frontend.dashboard.confirmed"|trans }}</h1>
        </div>
        <div class="main-content">

            <div class="panel panel-default">
                <a href="#page-stats" class="panel-heading" data-toggle="collapse"></a>
                <div id="page-stats" class="panel-collapse panel-body collapse in">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th class="text-center">{{ "reservations.frontend.reservation.date"|trans }}</th>
                            <th class="text-center">{{ "reservations.frontend.reservation.hours"|trans }}</th>
                            <th class="text-center">{{ "reservations.frontend.reservation.people_amount"|trans }}</th>
                            <th class="text-center">{{ "reservations.frontend.reservation.name"|trans }}</th>
                            <th class="text-center">{{ "reservations.frontend.reservation.email"|trans }}</th>
                            <th class="text-center">{{ "reservations.frontend.reservation.code"|trans }}</th>
                            <th></th>
                        </tr>
                        {% for reservation in reservations if reservations %}
                            <tr>
                                <td class="text-center">{{ reservation.date|date('Y-m-d') }}</td>
                                <td class="text-center">{{ reservation.time|date('H:i:s') }}</td>
                                <td class="text-center">{{ reservation.peopleAmount }}</td>
                                <td class="text-center">{{ reservation.name }}</td>
                                <td class="text-center">{{ reservation.email }}</td>
                                <td class="text-center">{{ reservation.code }}</td>
                                <td>
                                    <a href="{{ path('reservations_core_dashboard_reservations_status', { 'id' : reservation.id, 'status' : 'cancel' }) }}" class="pull-right text-danger"><i class="fa fa-times"></i> Atšaukti</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="7" class="text-center">
                                    <div class="alert alert-warning" role="alert">{{ "reservations.frontend.dashboard.no_reservations"|trans }}</div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}
